@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #323643;
    --background: #f7f7f7;
    --primary: #323643;
    --secondary: #9eecff;
    --accent: #606471;
  }
  .dark {
    --text: #bcc0cd;
    --background: #080808;
    --primary: #bcc0cd;
    --secondary: #004e61;
    --accent: #8e929f;
  }
}

.glass-navbar {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
}
