@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #323643;
    --background: #f7f7f7;
    --primary: #323643;
    --secondary: #9eecff;
    --accent: #606471;
  }
  .dark {
    --text: #bcc0cd;
    --background: #080808;
    --primary: #bcc0cd;
    --secondary: #004e61;
    --accent: #8e929f;
  }
}

.glass-navbar {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/*https://codepen.io/jakejarvis/pen/pBZWZw*/
